# Servimed Credentials
SERVIMED_USER=juliano@farmaprevonline.com.br
SERVIMED_PASSWORD=a007299A

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# API Configuration
CALLBACK_API_URL=https://desafio.cotefacil.net
CALLBACK_API_USER=seu_usuario_aqui
CALLBACK_API_PASSWORD=sua_senha_aqui

# Scrapy Settings
SCRAPY_LOG_LEVEL=INFO
SCRAPY_DOWNLOAD_DELAY=1

# Application Settings
DEBUG=True
LOG_LEVEL=INFO

